@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* animated bg */
/* https://codepen.io/AaronGabriel/pen/yLKwjEd */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,100;1,200;1,500&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #282c34;
}

::-webkit-scrollbar-thumb {
  background-color: #bbbbbb59;
  border-radius: 1.25rem;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  letter-spacing: 0.2px;
  line-height: 1.5;
  font-family: roboto, sans-serif;
  list-style-type: none;
  /* border: 1px solid rgb(132, 93, 212); */
}

body {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  min-height: -webkit-fill-available;
  background-color: #ffffff;
  /* background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png"); */

  min-width: 17rem;

  /* background-image: url("https://www.transparenttextures.com/patterns/climpek.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/gplay.png"); */

}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background-color: rgb(238, 231, 219); */
  /* background-color: #00c4c4; */
  /* background-color: #00acab; */
  /* background-color: rgb(211, 212, 216); */
  /* Slightly darker than cyan */
  /* background-color: cyan; */
  /* background-color: turquoise; */
  /* background-color: darkturquoise; */
  /* background-color: mediumturquoise; */
  /* background-color: teal; */
  /* Tiffany Hex code via Google */
  /* background-color: #81D8D0; */
  /* Seaside Blue Rusto - color picked */
  /* background-color: #03dfff; */


/* Munsell Blue */
  /* background-color: #00a0ae; */
/* Seal Brown */
  /* background-color: #572703; */

/* gradient */
  /* background: rgb(3,223,255);
  background: linear-gradient(90deg, rgba(3,223,255,1) 2%, rgb(2, 187, 255) 100%);  */

}

h1 {
  font-weight: 100;
  color: rgb(48, 48, 48);
  font-size: 3rem;
  word-spacing: 0.3rem;
  margin-top: 4.5rem;
  padding: 1px;
  /* text-shadow: 0px 7px 8px rgba(0, 0, 0, 0.694); */
  /* margin-bottom: 2rem; */
  /* text-transform: uppercase; */
  font-weight: 200;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  /* background-image: linear-gradient(#ff8c00, fuchsia); */
  background-color: #382521;
  -webkit-background-clip: text;
  color: transparent;
}



p {
  /* border: solid #282c34; */
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}


.card {
  width: 80%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 8px 8px 15px 8px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px -3px rgba(0, 0, 0, 0.3),
    0 -2px 6px -4px rgb(0 0 0 / 0.1);
  /* background: rgba(255, 255, 255, 0.13); */
  backdrop-filter: saturate(10%) blur(7px);

  background: rgb(3,223,255);
  /* background: linear-gradient(90deg, rgba(3,223,255,1) 2%, rgb(2, 187, 255) 100%);  */

}

.card:hover {
  /* box-shadow: 0 3px 15px -3px rgba(44, 71, 226, 0.496); */
  transition: .8s ease-in-out, box-shadow .1s ease-in-out;
}

.card-description-text {
  margin-left: 1rem;
  margin-right: 1rem;
}


img {
  max-width: 100%;
  height: auto;
}







.link {
  margin-left: 15px;
  margin-right: 15px;
  color: dodgerblue;
  font-size: 1.1rem;
  font-family: 'IBM Plex Mono', monospace;
  /* border: 2px solid green; */
}

.link:hover {
  /* color: rgba(17, 17, 218, 0.746); */
  transition: .2s ease-in-out, box-shadow .1s ease-in-out;
}

#contact-me:hover {
  color: rgba(100, 100, 100, 0.748);
  text-shadow: 0px 7px 8px rgba(0, 0, 0, 0.16);
}

.nav {
  /* border: solid grey; */
  /* background-color: rgb(121, 132, 148); */
  /* border-bottom: solid 1px rgba(238, 237, 237, 0.858); */
  /* position: absolute; */
  left: 0;
  top: 0;
  /* box-shadow: 0 3px 15px -3px rgba(150, 150, 150, 0.266); */
  font-weight: 500;
  color: rgb(231, 231, 231);
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* background-color: #242627; */
  /* background-color: #4a3d36; */
  /* background-color: #3e2723; */

  /* Dark brown that matches all btns */
  /* background-color: #382521; */
  /* Color picked from the phoenix image */
  background-color: #574e45;
  
  
  background-color: #565249;
  
}

.nav-logo {
  /* border: 2px solid red; */
  margin-left: 2%;
}

ul {
  padding-right: 20px;
}

li {
  font-family: 'IBM Plex Mono', monospace;
  margin-left: 17px;
  margin-right: 17px;
  cursor: pointer;
  /* text-shadow: 0px 5px 6px rgba(62, 62, 62, 0.184); */
  transition: .2s ease-in-out;

  font-weight: 400;
  font-style: italic;
  /* background-image: linear-gradient(#ff8c00, fuchsia);
  -webkit-background-clip: text;
  color: transparent; */
}

li:hover {
  color: rgba(100, 100, 100, 0.748);
  text-shadow: 0px 7px 8px rgba(0, 0, 0, 0.16);
}







button {
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid hsla(0, 0%, 75%, .417);
  border-radius: 16px 0;
  font-size: 1rem;
  margin-top: 2rem;
  padding: 10px 30px;
  text-shadow: 1px 1px 3px transparent;
  transition: .2s ease-in-out;
  background-color: #382521;
}

button:hover {
  /* opacity: 0.8;  */
  color: hsl(0, 0%, 80%);
}


.card-btn {
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid hsla(0, 0%, 75%, .417);
  border-radius: 16px 0;
  font-size: 1rem;
  margin-top: 2rem;
  padding: 10px 30px;
  text-shadow: 1px 1px 3px transparent;
  transition: .2s ease-in-out;
  background-color: #382521;
  border: 2px solid cyan;
  min-width: 150px;
  text-align: center;
}

.card-btn:hover {
  background-color: #2e1e1a; /* Darken the button color slightly to provide a clear visual contrast */
  transform: translateY(-3px); /* Adds a slight lift effect for better interactivity */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow to give the button a more elevated appearance */

  color: rgba(17, 17, 218, 0.746);
  transition: .2s ease-in-out, box-shadow .1s ease-in-out;
}

.link-cont {
  padding-bottom: 10px;
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;;
}






/*  ~~~~~~ ABOUT ME ~~~~~~ */


.about-card {
  max-width: 800px;
  width: 70%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 8px 8px 15px 8px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px -3px rgba(0, 0, 0, 0.3),
    0 -2px 6px -4px rgb(0 0 0 / 0.1);
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: saturate(10%) blur(7px);
  background: rgb(3,223,255);

}

.about-card p {
  padding-left: 4%;
  padding-right: 4%;
}

.about-me-button {
  font-family: 'IBM Plex Mono', monospace;
}





.about-footer {
  width: 100%;
  /* border: solid red; */
  /* position: absolute; */
  /* bottom: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 1rem; */
  margin-top: 1rem;
  padding-top: 2rem;

  /* border: 2px solid red; */
  /* background: #565249; */
  /* background: #815050; */

}






/* Footer lines */
.outer-wrapper {
  min-width: 100%;

  /* padding-top: 100px; */
  background: #fdfdfd;
}

.inner-wrapper {
  padding-bottom: 50px;
  background: #565249;
}

.bg-primary {
  background: #fdfdfd;
}

.item-0 {
  margin-top: 0px;
  height: .1px;
}

.item-1 {
  margin-top: 1px;
  height: 22px;
}

.item-2 {
  margin-top: 2px;
  height: 21px;
}

.item-3 {
  margin-top: 3px;
  height: 20px;
}

.item-4 {
  margin-top: 4px;
  height: 19px;
}

.item-5 {
  margin-top: 5px;
  height: 18px;
}

.item-6 {
  margin-top: 6px;
  height: 17px;
}

.item-7 {
  margin-top: 7px;
  height: 16px;
}

.item-8 {
  margin-top: 8px;
  height: 15px;
}

.item-9 {
  margin-top: 9px;
  height: 14px;
}

.item-10 {
  margin-top: 10px;
  height: 13px;
}

.item-11 {
  margin-top: 11px;
  height: 12px;
}

.item-12 {
  margin-top: 12px;
  height: 11px;
}

.item-13 {
  margin-top: 13px;
  height: 10px;
}

.item-14 {
  margin-top: 14px;
  height: 9px;
}

.item-15 {
  margin-top: 15px;
  height: 8px;
}

.item-16 {
  margin-top: 16px;
  height: 7px;
}

.item-17 {
  margin-top: 17px;
  height: 6px;
}

.item-18 {
  margin-top: 18px;
  height: 5px;
}

.item-19 {
  margin-top: 19px;
  height: 4px;
}

.item-20 {
  margin-top: 20px;
  height: 3px;
}

.item-21 {
  margin-top: 21px;
  height: 2px;
}

.item-22 {
  margin-top: 22px;
  height: 1px;
}

.item-23 {
  margin-top: 23px;
  height: 0px;
}






.footer-txt {
  color: #372521;

  font-size: .9rem;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding-top: 40px;
  font-family: 'IBM Plex Mono', monospace;
}

.footer-link {
  margin-bottom: 10px;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid rgb(179, 0, 255); */
  padding-top: 50px;
}

@media (max-width: 400px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-logo-container {
    margin-top: 50px;
  }


}


#me3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  border: 3px solid rgb(34, 178, 255);
  width: 8rem;
  box-shadow: 0 3px 15px -3px rgb(17, 101, 255),
    0 -2px 6px -4px rgb(39, 102, 250);
}













@media only screen and (max-width: 1000px) {
  .card {
    width: 100%;
    padding: 6px 1px 1px 1px;
  }

  .link-cont {
    padding-bottom: 10px;
  }


  .nav {
    padding-right: 0;
    /* box-shadow: 0 3px 15px -3px rgba(0, 0, 0, 0.161); */
  }

  .about-card {
    width: 93%;
  }


}











/* ~~~~~~~ Hero Section ~~~~~~~ */



.hero-section {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  align-items: flex-start;
  padding: 1%;
  padding-top: 70px;
  /* max-width: 1528px; */
  /* min-height: 80vh; */
  /* max-height: 100vh; */
  min-height: 70vh;
  /* margin: 50px auto; */
  background-color: #f6f6f6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* padding-left: 2%; */
  /* border: 2px solid cyan; */
  position: relative; /* @@@ Ensure the hero section is relative for positioning the arrows */
   background-color: #ececec;
  /* background: rgb(32,170,190); */
  /* background: linear-gradient(324deg, rgba(32,170,190,1) 17%, rgba(18,199,226,1) 84%, rgba(129,216,208,1) 100%); */

/* Munsell Blue */
background-color: #00a0ae;

background: rgb(3,223,255);
  background: linear-gradient(90deg, rgba(3,223,255,1) 2%, rgb(2, 187, 255) 100%); 

}

.text-content {
  padding: 20px;
/*     border: 2px solid blue; */
  min-width: 30%;
  padding-left: 3%;
}

.sub-title {
  color: #382521;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-title {
  width: 100%;
  /* font-weight: bold; */
  margin: 10px 0;
  margin-bottom: 20px;
  font-size: 28px;
}

.description {
  margin: 30px 0;
  color: #555;
}


/* Image Gallery Grid */
.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: 1fr 1fr; /* 2 rows */
  gap: 15px;
  /* border: 2px solid rgb(212, 209, 209); */
  max-width: 65%;
  justify-items: center;
  /* align-items: center; */
}

.image-item:nth-child(1) {
  grid-row: span 2; /* The first image will span two rows */
  height: 100%; /* Let the first image fill its space */
  border-radius: 16px;
  margin-bottom: 70px;
}


/* All images: */
.image-item {
  border-radius: 16px;
  overflow: hidden;
  
}

/* All images: */
.image-item img {
  /* width: 100%; */
  /* height: 100%; */
  border-radius: 16px;
  /* max-height: 600px; */
  /* border: 2px solid red !important; */
}






/* Slider Arrows */
.slider-arrows {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  /* width: 100px; */
  z-index: 10;
} /* @@@ Position arrows at the bottom center of the screen */

.arrow {
  background-color: rgb(44, 44, 44);
  color: white;
  border: none;
  /* padding: 10px; */
  cursor: pointer;
  font-size: 30px;
  border-radius: 1%;
  transition: background-color 0.3s;
  background-color: #382521;
} 

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.left-arrow {
  margin-right: 20px;
}

.right-arrow {
  margin-left: 20px;
}




/* Media Query for screens 900px and below */
@media (max-width: 1000px) {
  .image-gallery {
    display: flex; /* @@@ Change to flexbox for better layout control */
    flex-direction: column; /* @@@ Stack images vertically */
    gap: 10px;
    margin-bottom: 90px;
  }

  .image-item {
    width: 100%; /* @@@ Ensure images take up full width of container */
  }

  .image-item:nth-child(3) {
    display: none; /* Hide the third image for smaller screens */
  }
}




/* MOBILE: */
/* Media Query for screens 750px and below */
@media (max-width: 750px) {
  .hero-section {
    min-height: 90vh; 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-content: flex-start; */
    justify-content: space-around;
    padding-top: 0;
    /* border: 2px solid green; */
  }

  .image-gallery {
    display: flex; /* @@@ Change to flexbox for better layout control */
    flex-direction: column; /* @@@ Stack images vertically */
    gap: 10px;
    /* margin-bottom: 400px; */
    /* align-items: center; */
  /* border: 2px solid blue; */
  min-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;


  }

  .image-item {
    /* width: 130% !important;  */
    /* max-width: 130% !important;  */
  /* border: 2px solid red; */
  /* padding-left: 50px; */
  

  }

  .image-item:nth-child(n+2) {
    display: none; /* @@@ Hide all but the first image for smaller screens */
  }

  .about-me-button {
    display: none; /* @@@ Hide the About Me button on mobile */
  }

  .sub-title {
    display: none;
  }

  .main-title {
    text-align: center;
    font-size: 28px;
  }

  .text-content {
    padding: 5%;
    padding-left: 5%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description {
    /* border: 2px solid red; */
    margin: 0;
  }

  .arrow {
    font-size: 20px;
  }
}





/* ~~~~~ END HERO SECTION ~~~~~ */